body{
    background-color:#000066;
    color:white;
    text-align:center;
    animation:example 10s linear 2s infinite normal;
}
@keyframes example{
    0% {opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
.header{
    background:linear-gradient(navy,teal,yellow);
    border: 8px double green;
}
h1,h2{
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    text-shadow: 5px 5px 5px aqua;
    animation: thing 4s ease-in-out 6s infinite normal;
    border: 10px solid transparent;
    
}
@keyframes thing{
    0% {opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
h4{
    font-family: 'EB Garamond', serif;
    font-size:20px;
}
span{
    font-size:20px;
    font-style:italic;
}
strong{
    font-size:20px;
    color:red;
}
img{
    max-width:70%;
    border-radius:50%;
    margin-bottom:20px;
}
#man{
    width:200px;
    float:right;
    transform: rotate(30deg);
}
#flying{
    width:250px;
    float:left;
    transform: rotate(-30deg);
}
p{
    width:500px;
    height: 100px;   
    color:teal;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
div:hover {
    width:100px;
}