body{
    background-color:#000066;
    color:white;
    text-align:center;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size:60px;
}
h2{
   font-family: 'Dancing Script', cursive;
   font-size:20px;
}
h4{
    font-family: 'EB Garamond', serif;
    font-size:20px;
}
span{
    font-size:20px;
    font-style:italic;
}
strong{
    font-size:20px;
    color:red;
}
img{
    margin:20px;
    max-width:70%;
    border-radius:50%;
    margin-bottom:20px;
}
#man{
    width:200px;
    float:right;
}
#flying{
    width:250px;
    float:left;
}
